input[type="text"],
select {
  font-size: 16px !important;
}
html,
body,
#root,
.app,
.auth{
  height: 100%;
  background-color: #FFF8E1;
}
.app {
  padding: 0 1rem;
}
.navigation__panel {
  padding-top: 1rem;
}
