input[type="text"],
select {
  font-size: 16px !important;
}
html,
body,
#root,
.app,
.auth {
  height: 100vh;
  background-color: #FFF8E1;
}
html,
body,
.app {
  overflow: hidden;
}
.app {
  padding: 1rem;
}
.navigation__panel {
  padding-top: 1rem;
}
.tabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: table;;
}
.tabbar>div {
  display: table-cell;
  vertical-align: bottom;
  padding: 8px 0;
  text-align: center;
  font-weight: bold;
  background-color: #ddd;
}
.tabbar>div.active {
  background-color: #333;
  color: white;
}
.tabbar>div>.title {
  font-size: .9rem;
}
.tabbar>div>.icon-box {
  margin-bottom: 5px;
}
